<ion-header>
  <ion-navbar color = "rdaApp">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h2 padding> Restaurant Information </h2>
  <h5 padding-bottom> Please update your information below and click update to save the changes! </h5>

  <ion-list>
    <ion-item-group>
      <!-- Restaurant Info -->
      <ion-card-header style="background-color: #da3937; color: white;">Account Info</ion-card-header>
      <!-- Restaurant Name Input -->
      <ion-item>
        <ion-icon item-left name="restaurant"></ion-icon>
        <ion-label floating>Restaurant Name</ion-label>
        <ion-input type="text" value="{{restaurantName}}" [(ngModel)]="restaurantName" required></ion-input>
      </ion-item>
      <!-- Email Input -->
      <ion-item>
        <ion-icon item-left name="mail"></ion-icon>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" value="{{email}}" [(ngModel)]="email" required></ion-input>
      </ion-item>
      <br>
      <!-- Password Input -->
      <ion-item>
        <ion-icon item-left name="lock"></ion-icon>
        <button ion-button clear (click)="this.userService.changePassword()">Update password</button>
        <!-- <ion-input type="password" value="" [(ngModel)]="password"></ion-input> -->
      </ion-item>

      <!-- Restaurant Info -->
      <ion-card-header style="background-color: #da3937; color: white;">Restaurants Resources</ion-card-header>
      <!-- Img Chooser -->
      <ion-item>
        <ion-avatar item-left>
          <img src="{{image}}">
        </ion-avatar>
        <div id="web" display='none'>
          <input type="file" accept=".jpg, .jpeg, .png" (change)="uploadFile($event)">
        </div>
        <div id="device" display="none">
          <ion-buttons center id="device" display="none">
            <button ion-button large clear icon-right color="rdaApp" (click)="addImg()">
              Add Image
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-buttons>
        </div>
      </ion-item>
      <!-- Slogan Input -->
      <ion-item>
        <ion-icon item-left name="quote"></ion-icon>
        <ion-label floating>Slogan</ion-label>
        <ion-input type="text" value="{{slogan}}" [(ngModel)]="slogan"></ion-input>
      </ion-item>
      <!-- Description Input -->
      <ion-item>
        <ion-icon item-left name="document"></ion-icon>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" value="{{description}}" [(ngModel)]="description"></ion-input>
      </ion-item>
      <!-- Cuisine Type Input -->
      <ion-item>
        <ion-icon item-left name="restaurant"></ion-icon>
        <ion-label floating>Cuisine Type</ion-label>
        <ion-select [(ngModel)]="cuisineType">
          <ion-option *ngFor="let cuisine of cuisineTypes; let i = index" value="{{cuisine.type}}">
            {{cuisine.type}}
          </ion-option>
        </ion-select>
      </ion-item>
      <!-- Website Input -->
      <ion-item>
        <ion-icon item-left name="globe"></ion-icon>
        <ion-label floating>Website</ion-label>
        <ion-input type="url" value="{{website}}" [(ngModel)]="website"></ion-input>
      </ion-item>
      <br>

      <!-- Address Input -->
      <ion-card-header style="background-color: #da3937; color: white;">Contact Info</ion-card-header>
      <ion-item>
        <ion-icon item-left name="md-contact"></ion-icon>
        <ion-label floating>Owner's Name</ion-label>
        <ion-input type="text" value="{{ownerName}}" [(ngModel)]="ownerName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="call"></ion-icon>
        <ion-label floating>Personal Number</ion-label>
        <ion-input type="tel" value="" [(ngModel)]="phoneNumber" required></ion-input>
      </ion-item>

      <!-- Restaurant Info -->
      <ion-item-divider color="light">Restaurant Information</ion-item-divider>
      <ion-item>
        <ion-icon item-left name="call"></ion-icon>
        <ion-label floating>Restaurant's Number</ion-label>
        <ion-input type="tel" value="" [(ngModel)]="restNumber" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="home"></ion-icon>
        <ion-label floating>Street</ion-label>
        <ion-input type="text" value="{{street}}" [(ngModel)]="street" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-left></ion-icon>
        <ion-label floating>City</ion-label>
        <ion-input type="text" value="{{city}}" [(ngModel)]="city" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-left></ion-icon>
        <ion-label floating>Province</ion-label>
        <ion-select [(ngModel)]="province">
          <ion-option *ngFor="let province of provinces; let i = index" value="{{province.name}}">
            {{province.name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon item-left></ion-icon>
        <ion-label floating>Country</ion-label>
        <ion-input type="text" value="{{country}}" [(ngModel)]="country" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-left></ion-icon>
        <ion-label floating>Postal Code</ion-label>
        <ion-input type="text" value="{{postalCode}}" [(ngModel)]="postalCode" required></ion-input>
      </ion-item>

      <br>
      <!-- Hours of Operation Input -->
      <ion-card-header style="background-color: #da3937; color: white;">Hours of Operations</ion-card-header>
      <ion-grid fixed>
        <ion-row>
          <ion-col col-3>
            Day
          </ion-col>
          <ion-col>
            Open
          </ion-col>
          <ion-col>
            Close
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            Mon
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="monopen.open()">
              <ion-datetime #monopen pickerFormat="h mm A" [hidden]="mon_open == 'closed'" [(ngModel)]="mon_open"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="mon_open == 'closed'"></ion-icon>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="monclose.open()">
              <ion-datetime #monclose pickerFormat="h mm A" [hidden]="mon_close == 'closed'" [(ngModel)]="mon_close"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="mon_close == 'closed'"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            Tues
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="tuesopen.open()">
              <ion-datetime #tuesopen pickerFormat="h mm A" [hidden]="tues_open == 'closed'" [(ngModel)]="tues_open"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="tues_open == 'closed'"></ion-icon>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="tuesclose.open()">
              <ion-datetime #tuesclose pickerFormat="h mm A" [hidden]="tues_close == 'closed'" [(ngModel)]="tues_close"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="tues_close == 'closed'"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            Wed
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="wedopen.open()">
              <ion-datetime #wedopen pickerFormat="h mm A" [hidden]="wed_open == 'closed'" [(ngModel)]="wed_open"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="wed_open == 'closed'"></ion-icon>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="wedclose.open()">
              <ion-datetime #wedclose pickerFormat="h mm A" [hidden]="wed_close == 'closed'" [(ngModel)]="wed_close"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="wed_close == 'closed'"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            Thurs
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="thursopen.open()">
              <ion-datetime #thursopen pickerFormat="h mm A" [hidden]="thurs_open == 'closed'" [(ngModel)]="thurs_open"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="thurs_open == 'closed'"></ion-icon>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="thursclose.open()">
              <ion-datetime #thursclose pickerFormat="h mm A" [hidden]="thurs_close == 'closed'" [(ngModel)]="thurs_close"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="thurs_close == 'closed'"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            Fri
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="friopen.open()">
              <ion-datetime #friopen pickerFormat="h mm A" [hidden]="fri_open == 'closed'" [(ngModel)]="fri_open"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="fri_open == 'closed'"></ion-icon>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="friclose.open()">
              <ion-datetime #friclose pickerFormat="h mm A" [hidden]="fri_close == 'closed'" [(ngModel)]="fri_close"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="fri_close == 'closed'"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            Sat
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="satopen.open()">
              <ion-datetime #satopen pickerFormat="h mm A" [hidden]="sat_open == 'closed'" [(ngModel)]="sat_open"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="sat_open == 'closed'"></ion-icon>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="satclose.open()">
              <ion-datetime #satclose pickerFormat="h mm A" [hidden]="sat_close == 'closed'" [(ngModel)]="sat_close"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="sat_close == 'closed'"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            Sun
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="sunopen.open()">
              <ion-datetime #sunopen pickerFormat="h mm A" [hidden]="sun_open == 'closed'" [(ngModel)]="sun_open"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="sun_open == 'closed'"></ion-icon>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button ion-button clear color="rdaApp" (click)="sunclose.open()">
              <ion-datetime #sunclose pickerFormat="h mm A" [hidden]="sun_close == 'closed'" [(ngModel)]="sun_close"></ion-datetime>
              <ion-icon name="add-circle" *ngIf="sun_close == 'closed'"></ion-icon>
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item-group>

  </ion-list>

  <div text-center>
    <button ion-button large icon-right color="rdaApp" (click)="restInfoUpdate()">
      Update!
      <ion-icon name="checkmark-circle"></ion-icon>
    </button>
  </div>

</ion-content>

<ion-footer>
  <div style="text-align: center">
    <button ion-button clear (click)="this.userService.deleteAccount()">Delete account</button>
  </div>
</ion-footer>
