.ios, .md {
  page-restaurant-page {

    .scroll {
      height:100%
    }

    #map {
      width: 100%;
      height: 300px;
      position: relative;
    }

    // class for restaurant image
    .imageborder {
      border: 2px solid #fff;
      border-radius: 5% 5%;
      box-shadow: 0 0 10px gray;
      display: inline-block;
    }

  }
}
