<ion-header>

  <ion-navbar color="rdaApp">
    <ion-title>{{restaurant.restaurantName}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="favRest()">
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <!-- Header Card -->
  <ion-card>

    <ion-card-header>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="{{restaurant.photoUrl}}">
        </ion-thumbnail>
        <h2> Description </h2>
        <p> {{restaurant.description}} </p>
        <p> {{restaurant.slogan}} </p>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>

  </ion-card>

  <!-- Discounts Card -->

  <ion-card>
    <ion-card-header>
      Discounts
    </ion-card-header>

  <ion-list *ngFor="let bundle of Bundles; let i = index;">

    <ion-card>

      <ion-card-header>
        {{bundle.bundleName}}
      </ion-card-header>

      <ion-card-content>

        <ion-card-title>
          {{bundle.bundleDescription}}
        </ion-card-title>

        <ion-list *ngFor="let item of bundle.bundleElem; let j = index">
          <ion-item *ngFor="let menuItem of item.menu">
            <ion-grid>
              <h4>{{menuItem.name}}</h4>
              <ion-row>
                <ion-col>
                  Discount
                </ion-col>
                <ion-col>
                  {{menuItem.discount}}%
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  Price
                </ion-col>
                <ion-col>
                  {{menuItem.price}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  Discounted Price
                </ion-col>
                <ion-col>
                  {{((100 - menuItem.discount)/100)  * menuItem.price}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>

  </ion-list>
  </ion-card>

  <!-- Restaurant Menu Card -->
  <ion-card>

    <ion-card-header>
      Menu
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item *ngFor="let item of Menu; let i = index">
          <h4>{{item.name}}</h4>
          <ion-grid>
            <ion-row>
              <ion-col>
                Price
              </ion-col>
              <ion-col>
                {{item.price}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Discount
              </ion-col>
              <ion-col>
                {{item.discount}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>


  <!-- Map Card -->
  <ion-card>

    <ion-card-header>
      Map
    </ion-card-header>

    <ion-card-content>
      <div #map id="map"></div>
    </ion-card-content>

  </ion-card>

</ion-content>
