<ion-header>
  <ion-navbar color = "rdaApp">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Discounts</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list *ngFor="let bundle of bundles; let i = index;">

    <ion-card>

      <ion-card-header>
        {{bundle.bundleName}}
        <ion-buttons end>
          <button ion-button clear="true" (click)="presentActionSheet(i)">
            <ion-icon color="rdaApp" name="menu"></ion-icon>
          </button>
        </ion-buttons>
      </ion-card-header>

      <ion-card-content>

        <ion-card-title>
          {{bundle.bundleDescription}}
        </ion-card-title>

        <ion-list *ngFor="let item of bundle.bundleElem; let j = index">
          <ion-item *ngFor="let menuItem of item.menu">
            <ion-grid>
              <h4>{{menuItem.name}}</h4>
              <ion-row>
                <ion-col>
                  Discount
                </ion-col>
                <ion-col>
                  {{menuItem.discount}}%
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  Price
                </ion-col>
                <ion-col>
                  {{menuItem.price}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  Discounted Price
                </ion-col>
                <ion-col>
                  {{((100 - menuItem.discount)/100)  * menuItem.price}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>

  </ion-list>

</ion-content>
