page-nearMe {
  #map {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  #buttons {
    margin: 0px;
    width: auto;
    .button {
      margin: 0px;
    }
  }

  #mapViewList {
    margin: 0px;
    width: 100%;
  }

  // class for ion-item
  .item {
    padding-left: 10px !important;
  }

  // class for ion-item
  .item_stretch {
    padding-left: 0px !important;
}

  // list divider for Android
 .list-md .item-block .item-inner {
   border-bottom: 1px solid color($colors, background);
}
 // list divider for IOS
 .list-ios .item-block .item-inner {
     border-bottom: 1px solid color($colors, background);
 }

  .label {
    margin: 0px;
    .label-md {
      margin: 0px;
    }
  }

  // class for cards that hold restaurant info
  .card {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }

  .avatar {
    width:100% !important;
    height: 100% !important;
    max-width: 20px !important;  //any size
    max-height: 50px !important; //any size
  }

  // class for restaurant image
  // .imageborder {
    .imageborder {
  border: 1px solid color($colors, background);
  border-radius: 5% 5%;
  // box-shadow: 0 0 10px gray;
  // display: inline-block;
  // // margin-left: auto;
  // // margin-right: auto;
}
  //   border: 2px solid #fff;
  //   border-radius: 5% 5%;
  //   box-shadow: 0 0 10px gray;
  //   display: inline-block;
  //   // margin-left: auto;
  //   // margin-right: auto;
  // }

  // class for card header
  .header {
    margin: 0px !important;
    padding: 0px !important;
  }

  .header-icon-md {
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
  }

  .header-icon-ios {
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
  }

  .toolbar-content-md {
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
  }

  .toolbar-content-ios {
    display: inline-flex;
    vertical-align: middle;
  }

}
