<ion-header>

  <ion-navbar style="padding: 0px; margin: 0px" color = "rdaApp">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar [(ngModel)]="searchInput" [autocomplete]="on" [showCancelButton]="shouldShowCancel" placeholder="Search by name or type" (ionInput)="onSearch($event)"></ion-searchbar>

    <ion-buttons end>
      <button ion-button icon-only (click)="switchView()">
        <ion-icon name={{iconName}}></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher *ngIf="nearMeViews=='listView'" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>


  <div [ngSwitch]="nearMeViews">

    <!-- Map View Case -->
    <ion-list *ngSwitchCase="'mapView'" id="mapViewList">

      <!-- Map Container -->
      <agm-map id="map"
      [latitude]="this.map.mapObject.lat"
      [longitude]="this.map.mapObject.lng"
      [zoom]="this.map.mapObject.zoom"
      [zoomControl]="false"
      [disableDefaultUI]="false"
      [scaleControl]="true"
      [mapTypeControl]="true"
      [rotateControl]="true"
      >

        <!-- user location marker -->
        <agm-marker
        [latitude]="this.map.mapObject.lat"
        [longitude]="this.map.mapObject.lng"
        [visible]="this.map.mapObject.visible"
        [iconUrl]="this.map.mapObject.iconUrl"
        [zIndex]="999"
        >
        </agm-marker>

        <!-- LIVE restaurant location markers -->
        <agm-marker *ngFor="let m of liveList"
        [latitude]="m.coordinates.lat"
        [longitude]="m.coordinates.lng"
        [iconUrl]="'https://firebasestorage.googleapis.com/v0/b/instaeats-a06a3.appspot.com/o/img%2Flivelist.png?alt=media&token=6817a0b1-03cb-41b8-b026-8f51320c9100'"
        >

          <agm-info-window>
            <strong>{{m.restaurantName}}</strong>
            <br>
            {{m.address[0]}}
            <br>
            {{m.address[1]}},
            {{m.address[3]}}
            <br>
            {{m.address[2]}},
            {{m.address[4]}}
            <br>
            <p style="color: #488aff; margin: 0px" (click)="getDirections(m.coordinates.lat, m.coordinates.lng)">Get Directions</p>
          </agm-info-window>

        </agm-marker>

        <!-- DEAD restaurant location markers -->
        <agm-marker *ngFor="let m of deadList"
        [latitude]="m.coordinates.lat"
        [longitude]="m.coordinates.lng"
        [iconUrl]="'https://firebasestorage.googleapis.com/v0/b/instaeats-a06a3.appspot.com/o/img%2Fdeadlist.png?alt=media&token=8c472e53-9f39-41c9-911d-7d6da24c7097'"
        >

          <agm-info-window>
            <strong>{{"[OFFLINE]"}}{{m.restaurantName}} </strong>
            <br>
            {{m.address[0]}}
            <br>
            {{m.address[1]}},
            {{m.address[3]}}
            <br>
            {{m.address[2]}},
            {{m.address[4]}}
            <br>
            <p style="color: #488aff; margin: 0px" (click)="getDirections(m.coordinates.lat, m.coordinates.lng)">Get Directions</p>
          </agm-info-window>

        </agm-marker>

      </agm-map>

    </ion-list>

    <!-- List View Case -->
    <ion-list *ngSwitchCase="'listView'">
      
      <ion-item-group>
        <ion-item-divider> At the moment </ion-item-divider>

          <ion-item class="item" *ngFor="let rest of liveList; let i = index">

            <ion-card class="card" (click)="goToRestPage('live', i)">
              <ion-card-content class="header">
                <ion-item>
                  <ion-thumbnail item-left>
                    <img class="imageborder" src="{{rest.photoUrl}}">
                  </ion-thumbnail>
                  <h3>{{rest.restaurantName}}</h3>
                  <p>{{rest.slogan}}</p>
                  <p>{{rest.description}}</p>

                  <div item-right>
                    <ion-icon style= "position: absolute; right: 10px" *ngIf="rest.liveStatus" color="secondary" name="md-pricetags"></ion-icon>
                    <br>
                    <ion-note>{{rest.distance}}km </ion-note>
                  </div>

                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-item>

      </ion-item-group>

      <ion-item-group>
        <ion-item-divider> Check back later  </ion-item-divider>

          <ion-item class="item" *ngFor="let rest of deadList; let i = index">

            <ion-card class="card" (click)="goToRestPage('dead', i)">
              <ion-card-content class="header">
                <ion-item>
                  <ion-thumbnail item-left>
                    <img class="imageborder" src="{{rest.photoUrl}}">
                  </ion-thumbnail>
                  <h3>{{rest.restaurantName}}</h3>
                  <p>{{rest.slogan}}</p>
                  <p>{{rest.description}}</p>

                  <div item-right>
                    <ion-icon style= "position: absolute; right: 10px" *ngIf="!rest.liveStatus" color="light" name="md-pricetags"></ion-icon>
                    <br>
                    <!-- <ion-note>{{rest.distance}}km </ion-note> -->
                  </div>

                </ion-item>
              </ion-card-content>
            </ion-card>

          </ion-item>

      </ion-item-group>

    </ion-list>

  </div>

</ion-content>
