page-on-board {

  // .slide-zoom{
  //   height:auto;
  //   overflow-y: auto;
  // }
  //
  // SCROLL-CONTENT {
  // 	overflow-y: auto !important;
  // }

  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }

  .wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .col{
    border: thin solid grey;
  }




}
