<!-- Header / Menu -->
<ion-header>
  <ion-navbar color = "rdaApp">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SignUp Your Restaurant!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- Slides Container -->
  <ion-slides pager paginationType="progress" color="rdaApp" style="height: auto">

    <!-- General Info Slide -->
    <ion-slide>
      <h2 padding> Please enter your account information below and continue to the next step! </h2>
      <ion-list>
        <!-- Restaurant Name Input -->
        <ion-item>
          <ion-icon item-left name="restaurant"></ion-icon>
          <ion-label floating>Restaurant Name</ion-label>
          <ion-input type="text" value="" [(ngModel)]="restaurantName"></ion-input>
        </ion-item>
        <!-- Email Input -->
        <ion-item>
          <ion-icon item-left name="mail"></ion-icon>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" value="" [(ngModel)]="email"></ion-input>
        </ion-item>
        <!-- Password Input -->
        <ion-item>
          <ion-icon item-left name="lock"></ion-icon>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" value="" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
      <!-- Continue to Next Slide -->
      <button ion-button large clear icon-right color="rdaApp" (click)="loginInfo()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

    <!-- Meta Info Slide -->
    <ion-slide>
      <h2 padding> Please enter your Restaurants information below and continue to the next step!  </h2>
      <ion-item-group>
        <!-- Restaurant Info -->
        <ion-item-divider color="light">Restaurants Resources</ion-item-divider>
        <!-- Img Chooser -->
        <ion-item>
          <ion-icon item-left name="image"></ion-icon>
          <!-- <ion-label readonly="true">Choose your icon image</ion-label> -->
          <!-- <ion-input readonly="true" type="text" value="" onclick="addImg()"></ion-input> -->
          <ion-buttons center>
            <button ion-button large clear icon-right color="rdaApp" (click)="addImg()">
              Add Image
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>
        <!-- Slogan Input -->
        <ion-item>
          <ion-icon item-left name="quote"></ion-icon>
          <ion-label floating>Slogan</ion-label>
          <ion-input type="text" value="" [(ngModel)]="slogan"></ion-input>
        </ion-item>
        <!-- Description Input -->
        <ion-item>
          <ion-icon item-left name="document"></ion-icon>
          <ion-label floating>Description</ion-label>
          <ion-input type="text" value="" [(ngModel)]="description"></ion-input>
        </ion-item>
        <!-- Cuisine Type Input -->
        <ion-item>
          <ion-icon item-left name="restaurant"></ion-icon>
          <ion-label floating>Cuisine Type</ion-label>
          <ion-select [(ngModel)]="cuisineType">
            <ion-option *ngFor="let cuisine of cuisineTypes; let i = index" value="{{cuisine.id}}">
              {{cuisine.type}}
            </ion-option>
          </ion-select>
        </ion-item>
        <!-- Website Input -->
        <ion-item>
          <ion-icon item-left name="globe"></ion-icon>
          <ion-label floating>Website</ion-label>
          <ion-input type="url" value="" [(ngModel)]="website"></ion-input>
        </ion-item>

        <!-- Address Input -->
        <ion-item-divider color="light">Contact Info</ion-item-divider>
        <ion-item>
          <ion-icon item-left name="call"></ion-icon>
          <ion-label floating>Phone Number</ion-label>
          <ion-input type="tel" value="" [(ngModel)]="phoneNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon item-left name="home"></ion-icon>
          <ion-label floating>Street</ion-label>
          <ion-input type="text" value="" [(ngModel)]="street"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon item-left></ion-icon>
          <ion-label floating>City</ion-label>
          <ion-input type="text" value="" [(ngModel)]="city"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon item-left></ion-icon>
          <ion-label floating>Province</ion-label>
          <ion-select [(ngModel)]="province">
            <ion-option *ngFor="let province of provinces; let i = index" value="{{province.id}}">
              {{province.name}}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon item-left></ion-icon>
          <ion-label floating>Country</ion-label>
          <ion-input type="text" value="" [(ngModel)]="country"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon item-left></ion-icon>
          <ion-label floating>Postal Code</ion-label>
          <ion-input type="text" value="" [(ngModel)]="postalCode"></ion-input>
        </ion-item>

        <!-- Hours of Operation Input -->
        <ion-item-divider color="light">Hours of Operations</ion-item-divider>
        <ion-grid>
          <ion-row>
            <ion-col>
              Day
            </ion-col>
            <ion-col>
              Open
            </ion-col>
            <ion-col>
              Close
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Mon
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Monday Open</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mon_open"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Monday Close</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mon_close"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Tues
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Tuesday Open</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="tues_open"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Tuesday Close</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="tues_close"></ion-datetime>>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Wed
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Wednesday Open</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="wed_open"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Wednesday Close</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="wed_close"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Thurs
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Thursday Open</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="thurs_open"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Thursday Close</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="thurs_close"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Fri
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Friday Open</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="fri_open"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Friday Close</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="fri_close"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Sat
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Saturday Open</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="sat_open"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Saturday Close</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="sat_close"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Sun
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Sunday Open</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="sun_open"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Sunday Close</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="sun_close"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-item-group>
      <button ion-button large clear icon-right color="rdaApp" (click)="generalInfo()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

    <!-- Menu Info Slide -->
    <ion-slide>

      <h2 padding> Please add your Restaurants menu below, create groups (Appetizers, Entrees, Desserts etc) and add items to group. </h2>

      <button ion-button large icon-right color="rdaApp" (click)="addMenuGroup()">
        Add menu group
        <ion-icon name="add"></ion-icon>
      </button>

      <br>

      <ion-list *ngFor="let menug of menuGroup; let i = index">
        <ion-row>
          <ion-col>
            <ion-list-header>
              <ion-label>Group name</ion-label>
              <ion-input type="text" value="" [(ngModel)]="menug.menuGroupName"></ion-input>
            </ion-list-header>
          </ion-col>
          <ion-col>
            <button ion-button clear item-right color="rdaApp" (click)="removeGroup(i)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-item-group *ngFor="let menu of menug.menu; let j = index">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Item name</ion-label>
                  <ion-input type="text" value="" [(ngModel)]="menu.name"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <button ion-button clear item-right color="rdaApp" (click)="removeItem(i,j)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Item descripition</ion-label>
                  <ion-input type="text" value="" [(ngModel)]="menu.description"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Item price</ion-label>
                  <ion-input type="number" value="" [(ngModel)]="menu.price"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item-group>
        <button ion-button color="rdaApp" clear item-right icon-right (click)="addMenuItem(i)">
          Add menu item
          <ion-icon colour="rdaApp" name="add-circle"></ion-icon>
        </button>
        <br>
      </ion-list>

      <br>

      <button ion-button large clear icon-right color="rdaApp" (click)="menuInfo()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

    <!-- Payment Info Slide -->
    <ion-slide>

      <h2 padding> Please add your payment info below. </h2>

      <br>
      <ion-list>
        <ion-list-header>
          Credit Card Info
        </ion-list-header>
        <ion-item-group>
          <ion-item>
            <ion-label>Card Holder</ion-label>
            <ion-input type="text" placeholder="Name on Card" value="" [(ngModel)]="cardHolder"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Card Number</ion-label>
            <ion-input type="number" value="" [(ngModel)]="cardNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Expiry Date</ion-label>
            <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="expiry"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Security Code</ion-label>
            <ion-input type="number" value="" [(ngModel)]="security"></ion-input>
          </ion-item>
        </ion-item-group>
        <br>
      </ion-list>
      <br>
      <button ion-button large clear icon-right color="rdaApp" (click)="finish()">
        Finish!
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>


  </ion-slides>

</ion-content>
