page-about {

  .avatar{
    width:100% !important;
    height: 100% !important;
    max-width: 50px !important;  //any size
    max-height: 50px !important; //any size
  }

  // class for restaurant image
  .imageborder {
    border: 2px solid #fff;
    border-radius: 5% 5%;
    box-shadow: 0 0 10px gray;
    display: inline-block;
  }

  .card {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }

  .header {
    margin: 0px !important;
    padding: 0px !important;
  }

  // class for ion-item
  .item {
    padding-left: 10px !important;
    margin: 0px;
  }


}
