<ion-header>
  <ion-navbar color = "rdaApp">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div text-center>
    <button ion-button large icon-right color="rdaApp" (click)="addMenuGroup()">
      Add menu group
      <ion-icon name="add"></ion-icon>
    </button>
  </div>

  <ion-list *ngFor="let menug of menuGroup; let i = index" no-lines>
    <ion-card>
      <ion-row>
        <ion-col col-10>
          <ion-list-header>
            <ion-label>Group name</ion-label>
            <ion-input type="text" value="{{menug.menuGroupName}}" [(ngModel)]="menug.menuGroupName"></ion-input>
          </ion-list-header>
        </ion-col>
        <ion-col col-2>
          <ion-buttons end>
            <button ion-button clear item-right color="rdaApp" (click)="removeGroup(i)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>

      <ion-item-group *ngFor="let menu of menug.menu; let j = index" no-lines>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Name</ion-label>
                  <ion-input type="text" value="{{menu.name}}" [(ngModel)]="menu.name"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-auto>
                <ion-buttons end>
                  <button ion-button clear item-right color="rdaApp" (click)="removeItem(i,j)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-item>
                <ion-label>Descripition</ion-label>
                <ion-input type="text" value="{{menu.description}}" [(ngModel)]="menu.description"></ion-input>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-item>
                <ion-label>Price</ion-label>
                <ion-input type="number" value="{{menu.price}}" [(ngModel)]="menu.price"></ion-input>
              </ion-item>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-item-group>
      <button ion-button color="rdaApp" clear item-center icon-right (click)="addMenuItem(i)">
        Add menu item
        <ion-icon colour="rdaApp" name="add-circle"></ion-icon>
      </button>
    </ion-card>
  </ion-list>

  <div text-center>
    <button ion-button large icon-right color="rdaApp" (click)="createBundle()">
      Create Bundle
    </button>
  </div>

  <div text-center>
    <button ion-button large icon-right color="rdaApp" (click)="updateMenu()">
      Update!
      <ion-icon name="checkmark-circle"></ion-icon>
    </button>
  </div>

</ion-content>
